.bgContainer {
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.googleImage {
  height: 120px;
}

.suggestionItemContainer {
  background-color: #ffffff;
  padding-bottom: 50px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
  padding-left: 1px;
  border-radius: 5px;
  margin-top: 20px;
  padding-left: 10px;
}

.searchBar {
  padding: 12px;
  padding-left: 30px;
}

.inputElement {
  border-width: 0px;
  outline: none;
}

.searchIcon {
  height: 20px;
  padding-top: 8px;
}

.suggestionItemList {
  list-style-type: none;
}
